.itemList {
  overflow-y: scroll;
}

.itemList > * {
  border-bottom: 1px solid #445; 
  position: relative;
  width: 100%;
  overflow: hidden;
}

.itemList > * > .content {
  padding-left: 2em;
  padding-right: 3.5em;
  padding-top: .75em;
  padding-bottom: .75em;
  min-height: 4em;
}

.itemList > * > .icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2em;
  background-repeat: no-repeat;
  background-position: center center;
}

.itemList > * > .primaryButton {
  position: absolute;
  right: 1em;
  top: .25em;
  width: 2em;
  height: 2em;
}

.itemList > * > .primaryButton.full {
  bottom: .25em;
  height: auto;
  width: 3em;
}

.itemList > * > .toggleMore {
  position: absolute;
  right: 1em;
  top: 2.5em;
  width: 2em;
  height: 2em;
  background-image: url('../style/down.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% auto;
}

.itemList > * > .toggleMore.unhide {
  background-image: url('../style/up.png');
}

.itemList > * > .more {
  position: relative;
  height: 1.5em;
  width: 100%;
  padding-bottom: .75em;
}
