.itemList {

}

.itemList > * {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.itemList > * > .content {
  padding-left: 2em;
  padding-right: 3.5em;
}

.itemList > * > .content.noButtons {
  padding-right: 0em;
}

.itemList > * > .content.noIcon {
  padding-left: 0em;
}

.itemList > * > .icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2em;
  background-repeat: no-repeat;
  background-position: center center;
}

.itemList > * > .primaryButton {
  position: absolute;
  right: .75em;
  top: 0em;
  width: 3em;
  height: 3em;
}

.itemList > * > .primaryButton.full {
  bottom: 0em;
  height: auto;
  width: 3em;
}

.itemList > * > .toggleMore {
  position: absolute;
  right: .75em;
  top: 3em;
  width: 3em;
  height: 3em;
  background-image: url('../style/down.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% auto;
}

.itemList > * > .toggleMore.unhide {
  background-image: url('../style/up.png');
}

.itemList > * > .more {
  position: relative;
  width: 100%;
  padding-left: 2.5em;
  -moz-box-sizing: border-box; 
}
