.playlistView .info > * {
  padding-left: .5em;
}

.playlistView .info > *:first-child {
  font-size: 1.25em;
  padding-left: 0em;
}

.playlistView .tracknum {
  text-align: center;
  padding-top: .75em;
}

.playlistView .playlistItemDelete {
  width: 100%;
  height: 100%;
  background-image: url('../style/minus-del.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% auto;
}

.playlistView .beingPlayedIcon {
  background-image: url('../style/images/IconAction_Media_Play_30x30.png');
  background-size: 80% auto;
}

.playlistView .beingPausedIcon {
  background-image: url('../style/images/IconAction_Media_Pause_30x30.png');
  background-size: 80% auto;
}

