
#mediaLibraryPage {

}


#mediaLibraryPagePanel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*======================================*/

#mediaLibraryPagePanelTitle {
  border-bottom: 1px solid #aac;
  position: relative;
}

#mediaLibraryPagePanelTitleText {
  min-height: 2em;
  margin-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#mediaLibraryPagePanelTitleText.right {
  margin-left: 8em;
  height: 2.5em;
}

#mediaLibraryPagePanelTitleText > * {
  padding-left: .5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#mediaLibraryPagePanelTitleText > *:first-child {
  font-size: 1.75em;
  padding-left: 0;
  color: white;
}

#mediaLibraryPagePanelTitleText.right > *:first-child {
  font-size: 1.5em;
}

#mediaLibraryPagePanelTitleText.songTitle {
  height: auto;
}

#mediaLibraryPagePanelTitleText.songTitle > * {
  white-space: normal;
}

#mediaLibraryPagePanelTitleText.songTitle > *:first-child {
  font-size: 1.25em;
}

/*======================================*/

#mediaLibraryPagePanelPop {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: url('../../style/headers/images/icons/back.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75% auto;
  width: 2em;
}

/*======================================*/

#mediaLibraryPagePanelAlbum {
  position: absolute;
  top: 0;
  left: 2em;
  height: 5em;
  width: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#mediaLibraryPagePanelAlbum[src=''] {
  display: none;
}

#mediaLibraryPagePanelControls {
  padding-left: 2em;
  -moz-box-sizing: border-box;
  height: 2.5em;
}

#mediaLibraryPagePanelControls.right {
  padding-left: 7em;
}

#mediaLibraryPagePanelControlPlay {
  width: 50%;
  height: 100%;
  float: left;

  background-image: url('../../style/images/IconAction_Media_Play_30x30.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 70%;
}

#mediaLibraryPagePanelControlAdd {
  width: 50%;
  height: 100%;
  float: left;

  background-image: url('../../style/add.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 70%;
}

/*======================================*/

#mediaLibraryPagePanelList {
  position: absolute;
  left: 0;
  right: 0;
  top: 4em;
  bottom: 0;
  overflow-y: auto;
}

#mediaLibraryPagePanelSubCategories {
  font-size: 1.5em;
  padding-left: 1em;

}

#mediaLibraryPagePanelSubCategories > * {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1.5em;
  padding-left: 1em;
  color: white;

  background-image: url('../../style/headers/images/icons/back-rtl.png');
  background-repeat: no-repeat;
  background-position: right .75em center;
  background-size: auto 60%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*======================================*/

#mediaLibraryPagePanelItems .add {
  width: 100%;
  height: 100%;
  background-image: url('../../style/add.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% auto;
}

#mediaLibraryPagePanelItems {
  border-top: 1px solid #aac;
}

#mediaLibraryPagePanelItems .fields {
  padding-top: .75em;
  padding-bottom: .75em;
}

#mediaLibraryPagePanelItems .fields > * {
  padding-left: .5em;
  color: #aac;
  padding-bottom: .125em;
}

#mediaLibraryPagePanelItems .fields > *:nth-child(2) {
  color: #ddf;
}

#mediaLibraryPagePanelItems .fields > *:first-child {
  font-size: 1.25em;
  padding-left: 0;
  color: white;
  padding-bottom: .25em;
}

#mediaLibraryPagePanelItems .gotoPanelButton {
  background-image: url('../../style/headers/images/icons/back-rtl.png');
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 2em auto;
  padding-right: 3.5em;
}

#mediaLibraryPagePanelItems .gotoPanelButton .fields {
  min-height: 0em;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

#mediaLibraryPagePanelItems .track {
  position: absolute;
  left: .25em;
  top: .75em;
  font-size: 1em;
  padding-left: 0;
}

