
#mediaLibraryPage {

}


#mediaLibraryPagePanel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#mediaLibraryPagePanelTitle {
  padding-right: 4em;
  padding-left: 2em;
  border-bottom: 1px solid #aac;
}

#mediaLibraryPagePanelTitleText {
  min-height: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#mediaLibraryPagePanelTitleText > * {
  padding-left: .5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#mediaLibraryPagePanelTitleText > *:first-child {
  font-size: 1.75em;
  padding-left: 0;
  color: white;
}

#mediaLibraryPagePanelTitleText.songTitle {
  height: auto;
}

#mediaLibraryPagePanelTitleText.songTitle > * {
  white-space: normal;
}

#mediaLibraryPagePanelTitleText.songTitle > *:first-child {
  font-size: 1.25em;
}

#mediaLibraryPagePanelPop {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('../../style/headers/images/icons/back.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 50%;
  height: 4em;
  width: 2em;
}

#mediaLibraryPagePanelAdd {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url('../../style/headers/images/icons/add.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 50%;
  height: 4em;
  width: 4em;
}

#mediaLibraryPagePanelList {
  position: absolute;
  left: 0;
  right: 0;
  top: 4em;
  bottom: 0;
  overflow-y: auto;
}

#mediaLibraryPagePanelSubCategories {
  font-size: 1.5em;
  padding-left: 1em;

}

#mediaLibraryPagePanelSubCategories > * {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1.5em;
  padding-left: 1em;
  color: white;

  background-image: url('../../style/headers/images/icons/back-rtl.png');
  background-repeat: no-repeat;
  background-position: right .75em center;
  background-size: auto 60%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*======================================*/

#mediaLibraryPagePanelItems .add {
  width: 100%;
  height: 100%;
  background-image: url('../../style/add.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% auto;
}

#mediaLibraryPagePanelItems {
  border-top: 1px solid #aac;
}

#mediaLibraryPagePanelItems .fields {
  min-height: 4em;
  padding-top: .75em;
  padding-bottom: .75em;
}

#mediaLibraryPagePanelItems .fields.canGoMin {
  min-height: 0;
}

#mediaLibraryPagePanelItems .fields > * {
  padding-left: .5em;
  color: #aac;
}

#mediaLibraryPagePanelItems .fields > *:first-child {
  font-size: 1.25em;
  padding-left: 0;
  color: white;
}

#mediaLibraryPagePanelItems .gotoPanelButton {
  background-image: url('../../style/headers/images/icons/back-rtl.png');
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 2em auto;
  padding-right: 3.5em;
}

#mediaLibraryPagePanelItems .gotoPanelButton .fields {
  min-height: 0em;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

#mediaLibraryPagePanelItems .link {
  background-position: right .75em center;
  font-size: 1.25em;
  padding: .25em;
  padding-right: 1.5em;
  background-size: auto 60%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#mediaLibraryPagePanelItems .track {
  position: absolute;
  left: 0;
  top: .5em;
  font-size: 1em;
  padding-left: 0;
}

